/*==========================
      	  Fontes:
==========================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display:ital@0;1&family=Fjalla+One&family=Lilita+One&family=Unlock&family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display:ital@0;1&family=Fjalla+One&family=Lilita+One&family=Oleo+Script:wght@400;700&family=Unlock&family=Varela+Round&display=swap');

/*================================================================
						   Geral
==================================================================*/
html{
	font-size: calc(15px + 0.390625vw);	
}
body {
   background-color:#f5f3ff ;
  	font-family: "Poppins", sans-serif;
  	font-style: normal;
	overflow: scroll;
}
main{
	margin: 0 8vw 0 8vw;
}
a {
	text-decoration: none;
}
/*================================================================
						   Cabeçalho
================================================================*/
header div.menusEmCima {
	position: absolute;
	width: 90%;
	min-height: 4vw;
	padding: 0 95px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f5f3ff;
	padding-bottom: 2vw;
	margin-top: -2vw;
	
}
header .imagemHeader img {
	width: 40px;
	background-color: #dbcdf3;
	padding: 1vw;
	border-radius: 100px;
	margin-right: 1vw;

}
header .imagemHeader a{
	display: flex;
	align-items: center;
}
header .imagemHeader a h2{
	font-family: "Poppins", sans-serif;
	color: #7058a7;
	font-weight: 600;
}
header ul{
	position: relative;
}
header ul li{
	position: relative;
   list-style: none;
   float: left;
}
header ul li a {
	color: #000000;
	padding: 20px 25px;
	display: flex;
	justify-content: space-between;
}
header ul li a:hover{
	color: #7058a7;
}
header ul li ul {
	position: absolute;
	left: 0;
	width: 200px;
	background: #dbcdf3;
	display: none;
}
header ul li:hover ul{
	display: block;
}
header li.atual a{
	color: #7058a7;
	font-weight: 600;
}
.atual2 {
	color: #7058a7;
	font-weight: 600;
}
.atual1 {
	color: #7058a7;
	font-weight: 600;
}
header div.banner{
	text-align: center;	
	background-color: #dbcdf3;
	padding: 10vw 0 3vw 0;
	margin: 3vw 0 0 0;
}
header section p img{
	margin: auto;
	display: block;
}

/*================================================================
						   Homepage
=================================================================*/
main h1{
	text-align: center;
	margin: 8vw 0vw 0 0;
	font-size: 3rem;
	color: #7058a7;
	font-weight: 500;
}
main.homepage section div {
	margin: 4vw 0 0 0;
}
main.homepage section p {
	word-spacing: 2px;
	line-height: 160%;
	text-align: justify;
}
main.homepage section p.pUm {
	margin: 0 0 2vw 0;
}
main.homepage section span.primeira {
	color: #7058a7;
	font-size: 1.5rem;
	margin: 0 0 0 2vw;
}
section.saude div{
	color: white;
	display: flex;
	justify-content: center;
	text-align: center;
}
section.saude div div{
	border-radius: 20px;
	background-color: #7058a7;
	margin: 0 0 0 2vw;
	padding: 2vw 2vw 0vw 2vw;
}
section.saude p.espaco{
	margin: 5vw 0 0 1vw;
}
section.saude p.link{
	margin: 5vw 0 8vw 1vw;
}
section.saude p.link a{
	color: #7058a7;
	text-decoration: underline;
}
section.diferenca div.titulo{
	display: flex;
	justify-content: center;
	color: #7058a7;
	font-size: 2.2rem;
	font-weight: 600;
	margin: 4vw 0 3vw 0 ;
	font-family: "DM Serif Display", serif;
}
section.diferenca div.titulo h2{
	padding: 0 2vw 0 2vw;
	text-align: center;
	letter-spacing: 0.2vw;
	line-height: 2.5vw;
}
div.titulo span.fontedif {
	font-family: "Oleo Script", system-ui;
	letter-spacing: normal;
	font-size: 2.1rem;
	margin-right: 1.9vw;
}
div.titulo span.fontedif2 {
	font-family: "Oleo Script", system-ui;
	letter-spacing: normal;
	font-size: 2.1rem;
	margin-right: 2.2vw;
}
section.diferenca div.titulo h2.difdoenca{
	margin: 0 1.6vw 0 1.3vw;
}
section.diferenca div.conteudo{
	display: flex;
	background-color: white ;
	border-radius: 100px;
	padding-bottom: 4vw;
}
section.diferenca div.conteudo img{
	width: 35vw;
	height: 35vw;
}
section.diferenca div.conteudo p{
	margin: 5vw 2.5vw 0 0;
}
.textoBonitinho{
	background-color: #7058a7;
	border-radius: 10px;
	padding: 0 10px;
	color: white;
	font-size: 1rem;
	margin: 0;
}
/*==================================================================
						   Tratamento
==================================================================*/

section.tratamento div.branco {
	background-color: white;
	border-radius: 10vw;
	padding: 4.5vw 3vw 3vw 3vw;
	margin: 20px 10px;
	margin-top: 7vw;
}
section.tratamento .principal{
	display: flex;
	margin-bottom: 2vw
}
section.tratamento img{
	height: 44.5vw;
	width: auto;
	border-radius: 20px;
}
section.tratamento div.psicologo {
	background-color:#7058a7;
	color: white;
	margin-left: 3vw;
	margin-right: 3vw;
	border-radius: 10vw;
	padding: 4.5vw 3vw 3vw 3vw;
	margin: 20px 10px;
	margin-top: 7vw;
}
section.tratamento div h2 {
	font-size: 1.5rem;
	font-weight: 600;
	color: #7058a7;
	margin: 0 0 1.5vw 0;
}
section.tratamento div.psicologo h2 {
	color: white;
}
section.tratamento div p {
	line-height: 160%;
	word-spacing: 2px ;
}
section.tratamento div p span {
	color: #7058a7;
	font-size: 1.7rem;
	margin: 0 0 0 10px;
}
section.tratamento div p span.semcor {
	color: white;
}
section.image{
	text-align: center;
}
/*==================================================================
						   Questionário
==================================================================*/

.questionario section.mudarQuestionario{
	background-color: #7058a7;
	padding: 1vw 4vw 9vw 4vw;
	border-radius: 30px;
	margin-top: 2vw;
}
.separarquestionario {
	display: flex;
	justify-content: center;
	background-color: #7058a7;
	margin-top: 5vw;
	padding: 2vw;
	border-radius: 30px;
	color: white;
}
p.aviso {
	line-height: 150%;
	word-spacing: 3px;
	font-weight: 700;
	text-align: center;
	font-size: calc(13px + 0.3vw)
}
.questionario span.fa-solid {
	font-size: 2rem;
	margin-top: 15px;
}
.questionario button {
	display: block;
	margin: auto;
	border: none;
	padding: 2vw;
	border-radius: 70px;
	background-color: #f5f3ff;
	color: #7058a7;
	font-size: 1.2rem;
}
.questionario h1 {
	font-size: 2rem;
	color: white;
	margin-bottom: 6vw;
}
.puple h1{
	color: #7058a7;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}
#pergunta {
	color: white;
	text-align: center;
	font-size: 1.2rem;
	margin-top: 5vw;
	margin-bottom: 2vw;
}
#botoes {           
	justify-content: center;     
	gap: 10px;
}
#botoes button {
	 padding: 15px 25px;
    font-size: 1.2rem;
    margin: 0;
    border-radius: 70px;  
}
#resultado {
	color: white;
	line-height: 160%;
}
#resultado p {
	margin-top: 3vw;
}
#resultado h2 {
	text-align: center;
	font-size: 1.4rem;
	font-weight: 600;
}


/*==============================================================
						   Transtornos
===============================================================*/
main section.principal div{
	margin: 0 4px 0 0;
}
main section.principal{
	margin-bottom: 5vw;
}
main section.principal h1{
	margin-bottom: 6vw;
}
main section.principal h2{
	font-size: 1.7rem;
	margin-bottom: 2vw;
	text-align: center;
	color: #7058a7;
	font-weight: 600;
}
main section.principal h3 {
	margin: 4vw 0 0 0;
	color: #7058a7;
	font-size: 1.5rem;
	text-align: center;
}
main section.principal p{
	word-spacing: 2px;
	line-height: 160%;
	text-align: justify;
	margin: 2vw 0 2vw 0;
	padding: 20px;
}
main section.principal span{
	color: #7058a7;
	font-size: 1.5rem;
	margin: 0 0 0 10px;
}

section.transtornos {
	margin: 5vw 0 0 0;
}
section.transtornos h1 {
	margin-bottom: 3vw;
}
.transtornos img {
	width: 250px;
	margin-left: 2vw;
}
.laura {
	margin-top: 2.5vw;
}
.panela {
	margin-top: 1.7vw;
}
.mudarPraBaixo {
	margin-bottom: 1vw;
}
.mudarBaixo {
	margin-top: 0.5vw;
}
.mudarBaixo2 {
	margin-top: 2vw;
}
.mudarBipolar {
	margin-top: 0.5vw;
}
div.divtranstornos {
	display: flex;
	justify-content: center;
	background-color: #7058a7c7;
	color: white;
	border-radius: 20px;
	padding: 2vw;
	line-height: 120%;
	font-size: 1.1rem;
}
div.bipolar {
	display: flex;
	justify-content: center;
	margin-bottom: 3vw;
	display: flex;
	justify-content: center;
	background-color: #7058a7;
	color: white;
	border-radius: 20px;
	padding: 2vw;
	line-height: 120%;
	font-size: 1.1rem;
}
.tipos h4 {
	font-size: 1.3rem;
	font-weight: 600;
	margin-bottom: 1vw;
}
div.tipos {
	display: flex;
	justify-content: space-between;
}
div.tipo {
	background-color: #dbcdf3;
	color: #7058a7;
	border-radius: 20px;
	padding: 2vw;
	line-height: 120%;
	font-size: 1.1rem;
	margin-right: 2vw;
	width: 30%;
}
div.tipo1 {
	background-color: #dbcdf3;
	color: #7058a7;
	border-radius: 20px;
	padding: 2vw;
	line-height: 120%;
	font-size: 1.1rem;
	width: 30%;
}
/*==============================================================
						   cvv
===============================================================*/
section.cvv{
	background-color: #ffffff;
	padding: 10vw;
	margin: 5vw 0 0 3vw;
	border-radius: 18px;
}
section.cvv h1{
	margin: 0;
}
section.cvv div.imag{
	display: flex;
}
section.cvv div.imag div img{
	height: 300px;
	width: 300px;
	margin: 2vw 3vw 2vw 4vw ;
	border-radius: 6vw;
}
	section.cvv div.imag div p{
		margin: 2vw ;
		font-size: 1.1rem;
		line-height: 140%;
	}
	section.cvv div.imag div a{
		background-color: #7058a7;
		color: #ffffff;
		padding: 15px;
		border-radius: 30px;
		margin: 4vw 2vw 4vw 2vw ;
	}
	section.cvv div.video{
		display: flex;
		justify-content: center;
	}
	section.cvv iframe{
		border-radius: 10px;
		border: 10px solid #7058a7;
		margin: 4vw 0 0 0;
	}
	

/*==============================================================
						   footer
===============================================================*/
footer{
	background-color: #dbcdf3;
	margin: 2vw 0 0 0;
	padding: 2vw;
	line-height: 140%;
}
footer ul{
	display: flex;
	justify-content: center;
}
footer p {
	margin: 1vw;
	text-align: center;
	color: #7058a7;
}
footer ul.social li span{
	font-size: 2rem;
}
footer a {
	margin: 0 2vw 0 0;
	color: #7058a7;
}
footer .footerespacar {
	margin-bottom: 2vw;
}
footer strong {
	font-weight: 600;
}
footer p.git ul li{
	font-size: xx-small
}
footer p.git ul li a span{
	font-size: xx-small
}


/*==============================================================
					Responsividade
===============================================================*/
@media screen and (max-width: 900px){
	header nav{
		display: none;
	}
	header a h2{
		font-size: 4vw;
	}
	header .banner img{
		width: 100px;
		height: 100px;
		margin-top: 6vw;
		object-fit: cover;
	}
	/*================================================================
						   Homepage
=================================================================*/
	section.saude div{
		flex-direction: column;
	} 
	.saude p.pUm{
		padding: 10px;
	}
	.saude #aruma{
		padding: 20px;
		margin-top: 5vw;
	}
	section.diferenca .titulo h2{
		font-size: 8vw;
	}
	section.diferenca .titulo .fontedif{
		line-height: 200%;
	}
	section.diferenca .titulo .fontedif2{
		line-height: 200%;
	}
	section.diferenca .conteudo {
		flex-direction: column-reverse;
	}
	section.diferenca .conteudo img{
		text-align: center;
		margin: 2vw 0 0 25vw;
	}
	section.diferenca .conteudo p{
		padding: 15px;
	}
	/*==============================================================
						   footer
===============================================================*/
	footer ul{
		flex-wrap: wrap;
		line-height: 120%;
	}
	footer ul.social{
		font-size: 2vw;
		margin-top: 2vw;
	}
	/*==============================================================
						   Transtornos
===============================================================*/
	section.transtornos .divtranstornos{
		flex-direction: column;
		padding: 20PX;
		margin-bottom: 4vw;
	}
	section.transtornos .divtranstornos img{
		border-radius: 10px;
		margin: 4vw 0 0 3vw;
	}
	section.transtornos .bipolar{
		flex-direction: column;
		padding: 20PX;
		margin-bottom: 4vw;
	}
	section.transtornos .bipolar img{
		border-radius: 10px;
		margin: 4vw 0 0 3vw;
	}
	section.transtornos .tipos{
		flex-direction: column;
		width: 267vw;
	}
	section.transtornos .tipos .tipo{
		margin-bottom: 5vw;
	}
	section.transtornos .tipos .tipo1{
		margin-bottom: 5vw;
	}
	/*==================================================================
						   Tratamento
==================================================================*/
	section.tratamento .principal{
		flex-direction: column;
	}
	/*==============================================================
						   cvv
===============================================================*/
	section.cvv .imag{
		flex-direction: column;
	}
	section.cvv  h1{
		font-size: 10vw;
	}
	section.cvv .imag div a{
		margin: 0 3vw 0 3vw;
		float: left;
	}
	section.cvv img{
		max-width: 200px;
		max-height: 200px;
		width: auto;
		height: auto;
		margin: 10vw 0 2vw 5vw;
	}
	section.cvv iframe{
		max-width: 200px;
		max-height: 200px;
		width: auto;
		height: auto;
	}
}


/*NÃO MUDEM A ORDEM DOS BGLH PQ DA ERRO*/

/*Para editar em desktops*/
@media (max-width: 2560px) {

}

/*Para editar em tablets*/
@media (max-width: 1024px) {

}

/*Para editar em celulares*/
@media (max-width: 600px) {

}
